/* use this to put borders around things... */


.heading
{
	text-align:center;
	font-size: 50px;
}
.head_div
{
	width:1400px;
	height:110px;
	 margin-left:200px;
	 margin-right:200px;
	 border:1px solid black;
	 border-radius: 100px;
	 margin-top:30px;
	 background-color:white;
}
span
{
	border-bottom: 2px solid green;
	border-width: thick;

}
.testname_heading
{
	width:400px;
	height:500px;
	border:1px solid black;
	margin-left:200px;
	background-color:white;
	margin-top:60px;
	border-radius:10px;
}
.name
{
	background-color:red;
	margin-top:0px;
	text-align:center;
	border-radius:10px;
	font-size:40px;
	height:80px;
}
.submission
{
	width:950px;
	height:500px;
	border:1px solid black;
	margin-left:630px;
	background-color:white;
	margin-top:-500px;
	border-radius:10px;
}
.s_name
{
	text-align:center;
	background-color:red;
  margin-top:-0px;
	border-radius:10px;
	font-size:40px;
	height:80px;

}
.select_box
{
	width:400px;
	height:50px;
	margin-left:30px;
	margin-top:20px;
}
.t1
{
	font-size:20;
	margin-left:10px;
  height:50px;
  width:250px;
	margin-top:20px;
}
.b1
{
	font-size:30px;
	height:50px;
	border-radius:10px;
  margin-left:-45px;
	margin-top:20px;
}
.r1
{
	margin-top:20px;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .submission,.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
	@media (min-width: 992px) {
	  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	    float: left;
	  }
	  .col-md-12 {
	    width: 100%;
	  }
	  .col-md-11 {
	    width: 91.66666667%;
	  }
	  .col-md-10 {
	    width: 83.33333333%;
	  }
	  .col-md-9 {
	    width: 75%;
	  }
	  .col-md-8 {
	    width: 66.66666667%;
	  }
	  .col-md-7 {
	    width: 58.33333333%;
	  }
	  .col-md-6 {
	    width: 50%;
	  }
	  .col-md-5 {
	    width: 41.66666667%;
	  }
	  .col-md-4 {
	    width: 33.33333333%;
	  }
	  .col-md-3 {
	    width: 25%;
	  }
	  .col-md-2 {
	    width: 16.66666667%;
	  }
	  .col-md-1 {
	    width: 8.33333333%;
	  }
		.container {
		  padding-right: 15px;
		  padding-left: 15px;
		  margin-right: auto;
		  margin-left: auto;
		}
		@media (min-width: 768px) {
		  .container {
		    width: 750px;
		  }
		}
		@media (min-width: 992px) {
		  .container {
		    width: 970px;
		  }
		}
		@media (min-width: 1200px) {
		  .container {
		    width: 1170px;
		  }
		}
		.row {
		  margin-right: -15px;
		  margin-left: -15px;

		}
